name: build and test windows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-examples:
    runs-on: windows-latest
    
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # Step 2: Move to the parent directory and fetch dependencies
      - name: Fetch dependencies
        run: |
          cd ..
          git clone https://github.com/razterizer/Core.git

      # Step 3: Change to the correct directory and build
      - name: Build
        run: |
          cd Examples
          ./build_examples.bat
        continue-on-error: false # Ensure errors are not bypassed

  build-examples-with-locked-dependencies:
    runs-on: windows-latest
    
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # Step 2: Move to the parent directory and fetch dependencies
      - name: Fetch dependencies
        run: |
          cd ..
          ./Termin8or/fetch-dependencies.py Termin8or/dependencies -y
      
      # Step 3: Change to the correct directory and build
      - name: Build
        run: |
          cd Examples
          ./build_examples.bat
        continue-on-error: false # Ensure errors are not bypassed

  build-unit-tests:
    runs-on: windows-latest
    
    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # Step 2: Move to the parent directory and fetch dependencies
      - name: Fetch dependencies
        run: |
          cd ..
          git clone https://github.com/razterizer/Core.git

      # Step 3: Change to the correct directory and build
      - name: Build
        run: |
          cd Tests
          ./build_unit_tests.bat
        continue-on-error: false # Ensure errors are not bypassed

      # Step 4: Upload the built unit test binaries as artifacts
      - name: Upload unit test binaries
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-artifacts
          path: Tests/x64/Release

  run-unit-tests:
    needs: build-unit-tests
    runs-on: windows-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: List files
        run: |
          pwd
          ls
        
      # Step 2: Create the bin folder if it doesn't exist
      - name: Create bin folder
        run: mkdir -p Tests/bin

      # Step 3: Download the artifacts from the previous job
      - name: Download unit test binaries
        uses: actions/download-artifact@v4
        with:
          name: unit-test-artifacts
          path: Tests/x64/Release

      # Step 4: Run the unit tests
      - name: Run unit tests
        run: |
          cd Tests
          ./x64/Release/unit_tests
        continue-on-error: false # Ensure errors are not bypassed


